.component {
    width: 80%;
    position: relative;
    margin: 0 auto;
}
.name{
    display: inline-block;
    color:white;
    margin-right: 20px;
    background-color: chartreuse;
    border-radius: 5px;
}