.home-bg{
  background: url('../images/Bg1.png');
  min-height: 100%; 
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px)
{.home-bg {
    position: fixed;
}}


img{
    width: 100%;
}
.card{
    background-color: white;
}
.component {
    width: 80%;
    position: relative;
    margin: 0 auto;
}
.m-t{
    margin-top: 12rem!important;
}
